data/
data.tar.gz
__pycache__/
venv/
*.log
.vagrant/

# Config of Visual Studio Code
.vscode/

# Config of PyCharm
.idea/

# tools logs
tools/logs

# pytest
.pytest_cache/

# dotenv
.env

# project source code
images/*/.src

# utils test temporary files
tests/utils_test/xud-docker

# testing docker-compose.yml
docker-compose.yml